body {
    background-color: #202020;
    margin: 0;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hover-underline-animation{
    display: inline-block;
    position: relative;
    color:white;
}

.hover-underline-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1{
    font-size: 80px;
    font-family:serif;
    text-align: center;
}

button {
color: #23242a;
font-size: large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-top: 10px;
cursor:pointer;
}

button:hover {
background-color: #20b2aa;
color: black;
}

.container {
    width: fit-content;
    justify-content: center;
}

h4 {
    padding-top: 30px;
    
}

form.search {
    padding-top: 25px;
    padding-right: 0;
    font-size: 50px;
    height: auto;
    width: auto;
    align-content: center;
}

input {
    text-align: center;
}

div.dropdown.col.s4{
    top: 10px;
    background-color: transparent;
    border-block-style: solid;
    border-block-color: white;
}

.image-billboard{
opacity: 1;
transition: .3s ease;
height: 120;
width: 140;
object-fit: cover;

}

.image-billboard:hover{
    opacity: .8;
    color: lightgray;
}

/* .grid_items {
    padding: 3.75%;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-content: center;
  }
 

  @media only screen and (min-width: 700px) {
    .grid_items {
      grid-template-columns: 30% 30% 30%;
      grid-row-gap: auto;
    }
    .grid_items > div {
      padding: 10px;
      padding-left: 50px;
    }
  } */

  .Hit-Finder {
    padding-top: 80px;
    max-width: 100%;
    height: auto;
    mix-blend-mode:color-dodge;
  }

.wrapper{
    padding: 30px 30px 300px;
}
  .columns {
    margin: 0 -15px;
    flex-wrap: wrap;
    display: flex;
  }

  .col {
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
  }

.col-33 {
    width: calc(33% - 30px);
}
  @media screen and (max-width: 800px) {
    .col-33 {
        width: 100%;
    }
  }