

header {
    color: white;
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.playlist{
    color:white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    line-height: 2.5;
}